<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #cards-container{
    
    height: 80vh;
    display: flex;
    align-items: top;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    gap: 70px;
    position: relative;
    z-index: 10;
}
.card{
    height: 80%;
    width: 30%;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;
}
#card1{
    background-image: url('IMG/b1.jpg');
}
#card2{
    background-image: url('IMG/b2.jpg');
}
#card3{
    background-image: url('IMG/b3.jpg');
}
#card4{
    background-image: url('IMG/b4.jpg');
}
#card5{
    background-image: url('IMG/b5.jpg');
}
#card6{
    background-image: url('IMG/b6.jpg');
}
.over{
    height: 100%;
    width: 100%;
    background-color: #95C11E;
    padding-left:2px;
    padding-top: 16px;
    opacity: 0;
    transition: all ease 0.6s;
}
.over h4{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;

}
.over p{
    color: black;
    font-size: 18px;
}
.card:hover .over{
    opacity: 1;
}

#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#nav{
    height: 145px;
    width: 100%;
    display: flex;
    padding: 0 150px;
    gap: 50px;
    position:fixed;
    justify-content: flex-start;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.37);
}
#nav img{
    height: 75px;
}

#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to left bottom,#b4f502,#92c605);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    padding: 0 100px;
}
#footer>img{
    position: absolute;
    left: 0;
    height: 40%;
    z-index: 0;
}
#scroller{
    
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;

}
#scroller::-webkit-scrollbar{
    display: none;

}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
}
#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 800;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.5s;
    color: transparent;
    -webkit-text-stroke: 2px #95C11E;
}
#scroller h4:hover{
    color: #95C11E;
}
@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
a{
text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    align-items: center;
}
html,body{
    height: 100;
    width: 100;
}
#cursor{
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}
#cursor-blur{
    height: 400px;
    width: 400px;
    background-color: #96c11e33;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9;
}
    </style>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div id="nav">

        <img src="https://www.jetpunk.com/img/user-photo-library/3a/3a1b007d7b-450.png">

        <h4><a href="/">Home</a></h4>
        <h4><a href="sports">Sports</a></h4>
        <h4><a href="diet">Diet</a></h4>
        <h4><a href="login">Login</a></h4>
    
    </div>
    <div id="cards-container">
        <div class="card" id="card1">
                <div class="over">
                    <h4>Day 1: Bowling Action<br>and Alignment</h4>
                    <p>
                        <li>Balance Drill: Focus on your balance during the run-up and delivery stride. Bowl while balancing on one leg to improve your stability and control.</li>
                        <li>Cones Drill: Set up cones at a good length on the pitch and target them consistently. Work on hitting the same spot repeatedly to improve line and length accuracy.</li>
                        <li>Wrist Position Drill: Use a partner or coach to observe and correct your wrist position during delivery. Maintain a strong seam position for seam movement and swing..</li>
                       
                    
                    </p>
                </div>
            </div>
            <div class="card" id="card2">
                <div class="over">
                    <h4>Day 2: Seam and Swing<br>Bowling</h4>
                    <p>
                        <li>Towel Drill: Place a small towel on the pitch and try to bowl with the seam pointing directly at the towel. This helps you practice seam movement and control.</li>
                        <li>Swing Bowling Drill: Use an old ball and work on swinging it both ways. Focus on your wrist position and seam orientation for conventional and reverse swing.</li>
                        <li>Variations Drill: Practice bowling slower balls, leg-cutters, and off-cutters to deceive batsmen. Work on disguising these deliveries effectively.</li>
                       
                    </p>
                </div>
            </div>
            <div class="card" id="card3">
                <div class="over">
                    <h4>Day 3: Pace and Bounce</h4>
                    <p>
                        <li>Speed Gun Drill: Use a speed gun to measure your bowling speed. Try to consistently increase your pace by working on your run-up and action.</li>
                        <li>Bounce Target Drill: Place a target on the pitch, such as a cone, and aim to hit it consistently with short-pitched deliveries. Focus on generating bounce and pace.</li>
                        
                    </p><br>
                </div>
            </div>
        </div>
        <div id="cards-container">
            <div class="card" id="card4">
                <div class="over">
                    <h4>Day 4: Bowling Under<br>Pressure</h4>
                    <p>
                        <li>Pressure Simulation Drill: Create pressure scenarios in the nets where you have specific targets or field placements to bowl to. Simulate match-like situations to improve your ability to handle pressure.</li>
                        <li>Yorker and Slower Ball Drill: Work on your yorker delivery and practice variations of slower balls under pressure conditions.</li>
                       
                    </p>
                </div>
            </div>
            <div class="card" id="card5">
                <div class="over">
                    <h4>Day 5: Strength and<br>Conditioning</h4>
                    <p>
                        <li>Medicine Ball Exercises: Incorporate medicine ball exercises, such as overhead throws and twists, to strengthen your core and improve your bowling action's power.</li>
                        <li>Agility Ladder Drill: Use an agility ladder to work on your footwork and agility, which are essential for fast bowlers.</li>
                        
                    </p>
                </div>
            </div>
            <div class="card" id="card6">
                <div class="over">
                    <h4>Day 6: Mental Toughness<br>and Visualization</h4>
                    <p>
                        <li>Mental Toughness Visualization: Spend time visualizing different match scenarios and visualize yourself executing your skills under pressure.</li>
                        <li>Scenario-based Bowling Drills: Simulate different game situations, like bowling in the opening spell, defending a low total, or chasing a target, during your practice sessions..</li>
                        
                    </p>
                </div>
            </div>
        </div>
        <div id="footer">
            <img src="https://www.jetpunk.com/img/user-photo-library/3a/3a1b007d7b-450.png">
            <div id="f1">
                <img src="https://eiwgew27fhz.exactdn.com/wp-content/themes/puttosaurus/img/dots-side.svg" >
            </div>
            <div id="f2">
                <h3>Sports</h3>
                <h3>Fitness</h3>
                <h3>Diet</h3>
            </div>
            <div id="f3">
                <h3>Contact Us</h3>
                
            </div>
            <div id="f4">
                <h4>
                    Vidyalankar Polytechnic <br>
                    Wadala <br>
                    Mumbai <br>
                    
                </h4>
            </div>
        </div>
     <script>
        var crsr = document.querySelector("#cursor")
var blur = document.querySelector("#cursor-blur")
document.addEventListener("mousemove",function(dets){
crsr.style.left = dets.x+"px"
crsr.style.top = dets.y+"px"
blur.style.left = dets.x-250+"px"
blur.style.top = dets.y-250+"px"
})


var h4all = document.querySelectorAll("#nav h4")
h4all.forEach(function(elem){
    elem.addEventListener("mouseenter",function(){
        crsr.style.scale=3
        crsr.style.border="1px solid #fff"
        crsr.style.backgroundColor="transparent"
    })
    
        elem.addEventListener("mouseleave",function(){
            crsr.style.scale=1
            crsr.style.border="0px solid #95C11E"
            crsr.style.backgroundColor="#95C11E"
        })
    
    })

gsap.to("#nav",{
    backgroundColor:"#000",
    height:"80px",
    duration: 0.5,
    scrollTrigger:{
        trigger:"#nav",
        scroller:"body",
        markers:false,
        start:"top -10%",
        end:"top -11%",
        scrub:1
    }   
})
gsap.to("#main",{
    backgroundColor: "#000",
    scrollTrigger:{
        trigger:"#main",
        scroller:"body",
        markers:false,
        start:"top -25%",
        end:"top -70%",
        scrub:2

    }

})
gsap.from("#about-us img,#about-us-in",{
    y:90,
    opacity:0,
    duration:1,
    stagger:0.4,
    scrollTrigger:{
        trigger:"#about-us",
        scroller:"body",
        start:"top 60%",
        end:"top 58%",
        scrub:2
    }
})
gsap.from(".card",{
    scale:0.8,
    opacity:0,
    duration:1,
    stagger:0.4,
    scrollTrigger:{
        trigger:".card",
        scroller:"body",
        start:"top 70%",
        end:"top 65%",
        scrub:2
    }
})
gsap.from("#colon-1",{
    y:-70,
    x:-70,
    scrollTrigger:{
        trigger:"#colon-1",
        scroller:"body",
        markers:false,
        start:"top 55%",
        end:"top 45%",
        scrub:4
    }
})
gsap.from("#colon-2",{
    y:70,
    x:70,
    scrollTrigger:{
        trigger:"#colon-1",
        scroller:"body",
        markers:false,
        start:"top 55%",
        end:"top 45%",
        scrub:4
    }
})
    </script>
</body>
</html>